@import url('https://fonts.googleapis.com/css2?family=Galada&family=Galdeano&family=Gelasio:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}
header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
header > nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  gap: 20vw;
}
h1 {
  padding: 15px 0px 0px 40px;
}
#logo {
  height: 70px;
}
nav > ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style-type: none;
  font-family: 'Galada', sans-serif;
  font-size: 25px;
  align-items: center;
  padding-right: 50px;
}
.nav-list a {
  text-decoration: none;
  color: black;
}
.nav-list a:hover {
  color: rgba(255, 153, 0, 1);
}
main {
  display: flex;
  padding-top: 20vh;
  z-index: -1;
  height: 100vh;
}
.burger-info {
  padding: 75px;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.burger-info > h2 {
  font-family: 'Galdeano', sans-serif;
  color: rgba(234, 0, 0, 1);
  font-size: 40px;
}
.burger-info > h3 {
  font-family: 'Galada', sans-serif;
  font-size: 75px;
}
.burger-info > h3 span {
  color: rgba(255, 153, 0, 1);
}
.burger-info > p {
  font-family: 'Inter', sans-serif;
}
.price {
  display: flex;
  align-items: center;
  padding: 20px;
  font-family: 'Gelasio', sans-serif;
  gap: 25px;
}
#new-price {
  font-size: 35px;
  font-weight: 800;
  color: rgba(255, 153, 0, 1);
}
#old-price {
  font-size: 25px;
  font-weight: 800;
  color: rgba(87, 87, 87, 1);
}
#btn-order {
  background-color: rgba(234, 0, 0, 1);
  padding: 10px 20px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: white;
  box-shadow: 0 5px 15px rgb(236, 165, 165);
  border-radius: 8px;
  text-decoration: none;
}
.container {
  width: 40vw;
  background-image: url(./assets/images/burger.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}
footer > h3 {
  font-family: 'Galada', sans-serif;
  color: rgba(255, 153, 0, 1);
  font-size: 35px;
}
.social-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 15px;
  padding: 15px;
}
.social-logo img {
  width: 50px;
}
.social-logo:hover {
  filter: drop-shadow(5px 5px 0 rgba(234, 0, 0, 1));
}
footer > p {
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 860px) {
  header > nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }
  nav > ul {
    padding: 10px;
    font-size: 20px;
  }
  .burger-info > h2 {
    font-size: 27px;
  }
  .burger-info > h3 {
    font-size: 50px;
  }
  .burger-info > p {
    font-size: 12px;
  }
  #new-price {
    font-size: 25px;
  }
  #old-price {
    font-size: 15px;
  }
  main {
    padding-top: 20vh;
  }
  #btn-order {
    padding: 10px 20px;
    font-size: 15px;
  }
  .container {
    background-size: contain;
  }
  footer {
    padding-top: 0px;
  }
  footer > h3 {
    font-size: 25px;
  }
  .social-logo img {
    width: 35px;
  }
  footer > p {
    font-size: 13px;
  }
}

@media screen and (max-width: 640px) {
  #logo {
    height: 50px;
  }
  nav > ul {
    padding: 5px;
    font-size: 15px;
  }
  main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    align-items: center;
    gap: 15px;
  }
  .burger-info {
    width: 100 vw;
    padding: 0px;
  }
  .burger-info h2 {
    font-size: 20px;
  }
  .burger-info > h3 {
    font-size: 40px;
  }
  .price {
    align-self: center;
  }
  #new-price {
    font-size: 20px;
  }
  #old-price {
    font-size: 15px;
  }
  #btn-order {
    padding: 8px 17px;
    font-size: 13px;
    align-self: center;
  }
  .container {
    width: 100vw;
    height: 50vh;
    background-size: cover;
    order: -1;
  }
  footer {
    padding-top: 50px;
  }
  footer > h3 {
    font-size: 20px;
  }
  .social-logo img {
    width: 30px;
  }
  footer > p {
    font-size: 10px;
  }
}
